:root {
   --txt-color: rgb(67, 67, 67);
}
body {
   margin: 0;
   font-family: monospace;
}
input, button{
   font-family: monospace;
}

header {
   display: flex;
   flex-wrap: nowrap;
   max-width: 100%;
   margin: 0;
   padding: 0;
   justify-content: space-between;
   align-items: center;
   background-color: beige;
   max-height: 10%;
}

#login{
   position: absolute;
   margin: auto;
   font-size: 20px;
   color: var(--txt-color);
   text-align: center;
   top: 40%;
}

header img {
   width: 50%;
   border-radius: 50%;
}

header div:nth-child(1) {
   max-width: 30%;
   margin: 2%;
}

header div:nth-child(2) {
   max-width: 50%;
}

header div:nth-child(2) ul {
   list-style-type: none;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   margin: 0;
}

header div:nth-child(2) ul li {
   height: 20%;
   width: 100%;
}

main {
   margin: 5% auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

#formSpel {
   min-width: 50%;
}

#formSpel input {
   width: 100%;
}

.hide {
   display: none;
}

input span.correct {
   color: darkgreen;
}

.incorrect {
   color: darkred;
}

#stopKnop {
   margin-bottom: 5px;
}

.resultaten {
   margin: 0;
   padding: 0;
}

.resultaten li {
   padding: 5px 0;
   margin: 10px 0;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   border-top: 1px solid var(--txt-color);
   width: 100%;
}

.resultaten p {
   padding: 0 5px;
}

footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 55px;
   background-color: beige;
   text-align: center;
   color: var(--txt-color);
}

footer p {
   padding: 5px 0;
   bottom: 0;
}
