:root {
   --txt-color: rgb(67, 67, 67);
}

body {
   font-family: monospace;
   margin: 0;
}

input, button {
   font-family: monospace;
}

header nav {
   align-items: center;
   background-color: beige;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin: 0;
   max-height: 10%;
   max-width: 100%;
   padding: 0;
}


#login {
   color: var(--txt-color);
   font-size: 20px;
   margin: auto;
   text-align: center;
}

header img {
   border-radius: 50%;
   width: 50%;
}

header div:nth-child(1) {
   margin: 2%;
   max-width: 30%;
}

header div:nth-child(2) {
   max-width: 50%;
}

header div:nth-child(2) ul {
   align-items: center;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin: 0;
   list-style-type: none;
   text-align: center;
}

header div:nth-child(2) ul li {
   height: 20%;
   padding: 10px;
   width: max-content;
}

main {
   align-items: center;
   display: flex;
   /* stylelint-disable-next-line value-no-vendor-prefix */
   height: -webkit-fill-available;
   justify-content: center;
   position: absolute;
   width: 100%;
}


#formSpel {
   min-width: 50%;
}

#schrijf {
   width: 100%;
}

.hide {
   display: none;
}

.correct {
   color: darkgreen;
}

.incorrect {
   color: darkred;
}

#stopKnop {
   margin-bottom: 5px;
}

.checkboxes {
   display: flex;
   flex-flow: row nowrap;
   list-style: none;
   padding: 0;
}
.checkboxes li{
   display: flex;
   align-content: center;
   padding-right: 10px;
}

.shadow {
   text-shadow: 0px 0px 10px black;
   color: white;
}

.blur {
   filter: blur(1px);
}

.reverse {
   -webkit-transform: rotateX(180deg);
   unicode-bidi: bidi-override;
   direction: rtl;
}

.resultaten {
   margin: 0;
   padding: 0;
}

.resultaten li {
   border-top: 1px solid var(--txt-color);
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   margin: 10px 0;
   padding: 5px 0;
   width: 100%;
}

.resultaten p {
   padding: 0 5px;
}

footer {
   background-color: beige;
   bottom: 0;
   color: var(--txt-color);
   height: 55px;
   left: 0;
   position: absolute;
   text-align: center;
   width: 100%;
}

footer p {
   bottom: 0;
   padding: 5px 0;
}
